<!doctype html>
<html>
<head>
  <title>Datastore and Firebase Auth Example</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.3.1-dist/css/bootstrap.css') }}">
</head>
<body>

  <h1>Welcome to the Covid Trail!</h1>

  <p>
    Welcome to the Covid Trail, inspired by The Oregon Trail game. Your objective is to navigate through three days and avoid contracting COVID.
    We wanted to create a simulation where your choices affected the outcome of the game, while also potentially helping to educate on the
    preventative ways to keep yourself and other healthy!
  </p>
  <form action="{{ url_for('scenario_one') }}" method="POST">
  <label> Username </label>
    <input type="text" name="username">

    <button type=”submit”> Play </button>
  </form>


</body>
</html>
