<!doctype html>
<html>
<head>
  <title>Datastore and Firebase Auth Example</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.3.1-dist/css/bootstrap.css') }}">
</head>
<body>
	
  <p> hello {{username}}. Today is the last day of covid. </p>
  <p>{{current_scenario[0]}}</p>


  <form action="{{ url_for('finalday') }}" method="POST">
  <select name="scenario-three-select">
    {% for option, covid_chance in current_scenario[1] %}
    <option value="{{covid_chance}}">{{option}}</option>"
    {% endfor %}
  </select>
  <button type=”submit”> Next </button>
  </form>
  
  

</body>
</html>
